/* @HOME */
/* ********** */

main{
    display: flex;
    flex-direction: column;
align-items: center;

}

.conteinerimg{
    display: flex;
    
    background-color: map-get($colores, crema );   
    width: 328px;
    height: 492px;
    
}


.bloque{
    padding: 10px;
}
.comentario{
    padding: 5px;
}
.boton{
    display: flex;
    justify-content: center;
    width: 296px;
    height: 50px;
    background-color: map-get($colores, naranja );
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 14px;
    
}
// imagen camara arriba
.containerdos{
    display: flex;
    width: 328px;
    img{
        width: 100%;
    }
}

.containertres{
    width: 328px; 
    img{
        width: 100%;
    }
}

.opciones{

    width: 328px;
}


// imagen de lente y comentarios

.containertres{
    display: flex;
    
    background-color: map-get($colores,beach);   
    width: 360px;
  
    
}


.bloque1{
    padding: 10px;
}
.comentario1{
    padding: 5px;
}