/* @HOME */
/* ********** */

main{
    display: flex;
    flex-direction: column;
align-items: center;

}

.conteinerimg{
    display: flex;
    
    background-color: map-get($colores, crema );   
    width: 328px;
    height: 492px;
}

// .camara{
    

// // display: flex;
// // flex-direction: column;
// justify-content: center;

// // padding: 5px;
// width: 100%;
// }

.comentario{
    padding: 5px;
}
.boton{
    display: flex;
    justify-content: center;
    width: 296px;
    height: 50px;
    background-color: map-get($colores, naranja );
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 14px;
    
}

